{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "rules": {
    "react/require-default-props": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": ["arrow-function", "function-declaration"],
        "unnamedComponents": "arrow-function"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      { "allowExpressions": true }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
